@model List<WebApplication.Models.AssemblyModels>

<table id="tblAssembly" class="detail table table-bordered table-striped active">
     <thead>
          <tr>
               <th></th>
               <th>Name</th>
               <th>Classification</th>
               <th>Price</th>
               <th></th>
          </tr>
     </thead>
</table>