@model WebApplication.Models.AssemblyModels

<table class="child" cellpadding="4" cellspacing="0" border="0" style="padding-left:50px;">
     <tr>
          <th>Name</th>
          <th>Classification</th>
          <th>Price</th>
     </tr>
     @foreach (var item in Model)
          {
     <tr>
          <td>@item.</td>
          <td>@item.Description</td>
          <td>@item.Quantity</td>
          <td>@item.Unit</td>
     </tr>
          }
</table>


