<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost;database=WynPowerDb;uid=SemsRWUser;password=SemsRWUser;"/>
  </connectionStrings>
  <appSettings>
    <add key="LockDuration" value="10"/>
    <add key="MaxFailedLogCount" value="3"/>
    <add key="TimeOut" value="20"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
