
@*<table id="tblMaterials" class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Date Created</th>
                <th>Active</th>
                <th>Cost</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    @section Scripts{
        @Scripts.Render("~/Scripts/WynPower/Material")
        <script>

        </script>*@
}
